// Part of nextflow config describing resource requirements for EGAPx processes
// We rely on labels to define 3 tiers of processes - default, big, and huge.
// Make sure that executor you use supports job memory and CPU requirements
process {
    memory = 60.GB
    cpus = 7
    time = 6.h
    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: 'big_job' {
        memory = 120.GB
        cpus = 15
    }

    withLabel: 'huge_job' {
        memory = 200.GB
        cpus = 31
    }

    withLabel: 'long_job' {
        time = 16.h
    }
}

profiles {

    stubrun {
        
        process {
            memory = 1.GB
            cpus = 1
            time = 1.h

            withLabel: 'big_job' {
                memory = 1.GB
                cpus = 1
            }

            withLabel: 'huge_job' {
                memory = 1.GB
                cpus = 1
            }

            withLabel: 'long_job' {
                time = 1.h
            }
        }
    }

}
