docker.enabled = false
includeConfig "./process_resources.config"
env {
    GP_HOME="/img/gp/"
    PATH = "/img/gp/bin/:/img/gp/bin/third-party/:/img/gp/bin/third-party/sratoolkit.3.0.7-ubuntu64/bin/:/netmnt/vast01/egapx/bin/gp/:\$PATH"
    // These must remain disabled except for real debugging
    //DEBUG_STACK_TRACE_LEVEL="Warning"
    //EXCEPTION_STACK_TRACE_LEVEL="Warning"
    //DIAG_POST_LEVEL="Trace"
    //DEBUG_CATCH_UNHANDLED_EXCEPTIONS="0"
    DEBUGINFOD_URLS="/dev/null"
}
