includeConfig "./process_resources.config"
docker.enabled = false
env {
    GP_HOME="/netmnt/vast01/egapx/bin/"
    PATH = "/netmnt/vast01/egapx/bin/gp/:/netmnt/vast01/egapx/bin/third-party/sratoolkit.3.0.7-ubuntu64/bin/:\$PATH"
    // These must remain disabled except for real debugging
    //DEBUG_STACK_TRACE_LEVEL="Warning"
    //EXCEPTION_STACK_TRACE_LEVEL="Warning"
    //DIAG_POST_LEVEL="Trace"
    //DEBUG_CATCH_UNHANDLED_EXCEPTIONS="0"
    DEBUGINFOD_URLS="/dev/null"
// these turn off connecting to local NCBI services, it can simulate running without certain network access
// CONN_DISPD_DISABLE="1"
// CONN_LBSMD_DISABLE="1"
}

process {
        withLabel: 'single_cpu' {
            cpus = 1
        }
        withLabel: 'multi_cpu' {
            cpus = params.threads
            maxForks = params.num_cpus_per_node / params.threads
        }
        withLabel: 'multi_node' { 
            cpus = params.threads
            maxForks = params.num_cpus_per_node / params.threads
        }
        withLabel: 'gpx_submitter' {
            cpus = 1
        }
}
