// This is an example of SGE executor configuration
// It is specific for internal NCBI use, you need to supply -P and -A parameters specific to your HPC
// account. Keep -V, maybe adjust osverfull parameters (set to use Alma Linux 8)
// This configuration uses binaries setup directly on network accessible drive. We currently don't support
// such configurations for third party, use docker or singularity for this. Uncomment corresponding line below
//docker.enabled = true
//singularity.enabled = true
includeConfig "./process_resources.config"
env {
    GP_HOME="/netmnt/vast01/egapx/bin/"
    PATH = "/netmnt/vast01/egapx/bin/gp/:/netmnt/vast01/egapx/bin/third-party/sratoolkit.3.0.7-ubuntu64/bin/:\$PATH"
    // These must remain disabled except for real debugging
    //DEBUG_STACK_TRACE_LEVEL="Warning"
    //EXCEPTION_STACK_TRACE_LEVEL="Warning"
    //DIAG_POST_LEVEL="Trace"
    //DEBUG_CATCH_UNHANDLED_EXCEPTIONS="0"
    DEBUGINFOD_URLS="/dev/null"

// these turn off connecting to local NCBI services, it can simulate running without certain network access
// CONN_DISPD_DISABLE="1"
// CONN_LBSMD_DISABLE="1"
}

process {
    executor = 'sge'
    memory = 60.GB
    time = 6.h
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = null
    // We can't request SGE 'slots' ('cpus' directive) but we need to pass the number of available threads
    // to underlying process to run it correctly. We use 'ext.cpus' for this and use clusterOptions to allocate
    // large enough instance via m_thread
    ext.cpus = 7
    m_thread = { params.threads < 8 ? 8 : params.threads + 1 }
    clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=8,osverfull='8*'"

    withLabel: 'long_job' {
        time = 36.h
    }
    withLabel: 'single_cpu' {
        ext.cpus = 1
        ext.split_jobs = 1
        ext.threads = 1
        clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=1,osverfull='8*'"
        cpus = null
    }
    withLabel: 'gpx_submitter' {
        ext.cpus = 1
        ext.split_jobs = params.nodes
        ext.threads = 1
        clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=1,osverfull='8*'"
        cpus = null
    }
    withLabel: 'multi_cpu' {
        ext.cpus = params.threads
        ext.split_jobs = 1
        ext.threads = params.threads
        clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=${params.threads},osverfull='8*'"
        cpus = null
    }
    withLabel: 'multi_node' { 
        ext.cpus = params.threads
        ext.split_jobs = params.nodes
        ext.threads =  params.threads
        clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=${params.threads},osverfull='8*'"
        cpus = null
    }

}

executor {
    queueSize = 100
}
