// Part of nextflow config describing resource requirements for EGAPx processes
// We rely on labels to define 3 tiers of processes - default, big, and huge.
// Make sure that executor you use supports job memory and CPU requirements
//To be set based on the environment where Nextflow is run
params.threads = 16
params.nodes = 16
params.num_cpus_per_node = 96

process {
 
}
process {
    memory = 60.GB
    cpus = 7
    ext.align_mem = '13'
    time = 6.h
    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: 'long_job' {
        time = 36.h
    }
    withLabel: 'small_mem' { 
        memory = 8.GB
    }
    withLabel: 'med_mem' {
        memory = 64.GB
    }
    withLabel: 'large_mem' { 
        memory = 128.GB
    }
    withLabel: 'single_cpu' {
        ext {
            split_jobs = 1
            threads = 1
        }
        cpus = 1 
    }
    withLabel: 'multi_cpu' {
        ext {
            split_jobs = 1
            threads = params.threads
        }
        cpus = params.threads
    }
    withLabel: 'multi_node' { 
        ext {
            split_jobs = params.nodes
            threads = params.threads
        }
        cpus = params.threads
    }
    withLabel: 'gpx_submitter' {
        ext {
            split_jobs = params.nodes
            threads = 1
        }
        cpus = 1
    }
}

profiles {

    stubrun {
        
        process {
            memory = 1.GB
            cpus = 1
            time = 1.h

            withLabel: 'big_job' {
                memory = 1.GB
                cpus = 1
            }

            withLabel: 'huge_job' {
                memory = 1.GB
                cpus = 1
            }

            withLabel: 'long_job' {
                time = 1.h
            }
        }
    }

}
