process.executor = 'awsbatch'
process.queue = 'egapx-small-and-medium-ds'

aws {
    region = 'us-east-2'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        maxTransferAttempts = 3
    }
    client {
        maxErrorRetry = 3
        socketTimeout = 3600000 // 1 hours in milliseconds
    }
}
