// This is config for EGAPx run on a single node on Biowulf cluster
// The node should be started with --cpus-per-task=32 --mem=224g --time=1-00:00:00

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/$USER/singularity"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH'
}

env {
    SINGULARITY_CACHEDIR="/data/$USER/singularity"
    DEBUG_STACK_TRACE_LEVEL="Warning"
    EXCEPTION_STACK_TRACE_LEVEL="Warning"
    DIAG_POST_LEVEL="Trace"
    DEBUG_CATCH_UNHANDLED_EXCEPTIONS="0"
    DEBUGINFOD_URLS="/dev/null"
// these turn off connecting to local NCBI services, it can simulate running without certain network access
// CONN_DISPD_DISABLE="1"
// CONN_LBSMD_DISABLE="1"
}
