// This is config for EGAPx run on a single node on Biowulf cluster
// The node should be started with --cpus-per-task=32 --mem=224g --time=1-00:00:00

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/$USER/singularity"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH'
}

env {
    SINGULARITY_CACHEDIR="/data/$USER/singularity"
}
