// This is an example of SGE executor configuration
// It is specific for internal NCBI use, you need to supply -P and -A parameters specific to your HPC
// account. Keep -V, maybe adjust osverfull parameters (set to use Alma Linux 8)
// This configuration uses binaries setup directly on network accessible drive. We currently don't support
// such configurations for third party, use docker or singularity for this. Uncomment corresponding line below
//docker.enabled = true
//singularity.enabled = true

env.GP_HOME="/netmnt/vast01/egapx/bin/"
env.PATH = "/netmnt/vast01/egapx/bin:/netmnt/vast01/egapx/bin/gp:/netmnt/vast01/egapx/bin/third-party/STAR/bin/Linux_x86_64:\$PATH"

process {
    executor = 'sge'
    memory = 60.GB
    time = 6.h
    errorStrategy = 'retry'
    maxRetries = 3
    // We can't request SGE 'slots' ('cpus' directive) but we need to pass the number of available threads
    // to underlying process to run it correctly. We use 'ext.cpus' for this and use clusterOptions to allocate
    // large enough instance via m_thread
    ext.cpus = 7
    clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=8,osverfull='8*'"

    withLabel: 'big_job' {
        memory = 120.GB
        ext.cpus = 15
        clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=16,osverfull='8*'"
    }

    withLabel: 'huge_job' {
        memory = 200.GB
        ext.cpus = 31
        clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_thread=32,osverfull='8*'"
    }

    withLabel: 'long_job' {
        time = 16.h
    }
}
