// This is an example of SGE executor configuration
// It is specific for internal NCBI use, you need to supply -P and -A parameters specific to your HPC
// account. Keep -V, maybe adjust osverfull parameters (set to use Alma Linux 8)
// This configuration uses binaries setup directly on network accessible drive. We currently don't support
// such configurations for third party, use docker or singularity for this. Uncomment corresponding line below
//docker.enabled = true
//singularity.enabled = true
process {
    executor = 'sge'
    clusterOptions = "-m n -V -P progressive -w n -A annotations-euk -l express=TRUE,h_vmem=INFINITY,m_core=12,osverfull='8*'"
}
env.GP_HOME="/netmnt/vast01/egapx/bin/"
env.PATH = "/netmnt/vast01/egapx/bin:/netmnt/vast01/egapx/bin/gp:/netmnt/vast01/egapx/bin/third-party/STAR/bin/Linux_x86_64:\$PATH"
process {
    memory = 60.GB
    time = 3.h

    withLabel: 'big_job' {
        memory = 120.GB
    }

    withLabel: 'huge_job' {
        memory = 200.GB
    }

    withLabel: 'long_job' {
        time = 6.h
    }
}
