// Config for typical SLURM cluster
// Adjust the parameters for your cluster - queue name, temp dir, etc.
// Use your temp space instead of /data/$USER in the following config

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/$USER/singularity"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH'
}

env {
    SINGULARITY_CACHEDIR="/data/$USER/singularity"
    SINGULARITY_TMPDIR="/data/$USER/tmp"
}

process {
    executor = 'slurm'
    // Set other parameters specific to your cluser here
    // maxRetries = 1
    // queue = 'norm'
    // queueSize = 200
    // pollInterval = '2 min'
    // queueStatInterval = '5 min'
    // submitRateLimit = '6/1min'
    // retry.maxAttempts = 1

    // clusterOptions = ' --gres=lscratch:200 '

    // scratch = '/lscratch/$SLURM_JOB_ID'
    // with the default stageIn and stageOut settings using scratch can
    // result in humungous work folders
    // see https://github.com/nextflow-io/nextflow/issues/961 and
    //     https://www.nextflow.io/docs/latest/process.html?highlight=stageinmode
    //stageInMode = 'symlink'
    //stageOutMode = 'rsync'
}
